.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.item-list {
  color: #f0f7f7;
  width: 100%;
  .item {
    cursor: pointer;
    counter-increment: list;
    list-style: none;
    position: relative;
    padding: clamp(calc(8rem / 16), calc(20vw / 7.68), calc(16rem / 16))
      clamp(0rem, calc(16vw / 7.68), calc(16rem / 16))
      clamp(calc(12rem / 16), calc(20vw / 7.68), calc(20rem / 16))
      clamp(calc(32rem / 16), calc(96vw / 7.68), calc(96rem / 16));
    &::before {
      content: attr(data-index);
      position: absolute;
      color: #c6cdcc;
      margin-left: clamp(
        calc(-80rem / 16),
        calc(-80vw / 7.68),
        calc(-44rem / 16)
      );
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75rem;
      letter-spacing: 0.005em;
      text-align: left;
      width: clamp(calc(20rem / 16), calc(46vw / 16), calc(46rem / 16));
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: #75758a;
      background-image: linear-gradient(to right, #2dd282, 45%, #75758a 55%);
      background-size: 300%;
      background-position: 100%;
      transition:
        background-position 0.5s ease-out,
        background-color 0.5s ease-out;
    }
    &.active::after {
      background-color: transparent;
      background-position: 0%;
    }

    .list-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .title {
      font-size: clamp(calc(16rem / 16), calc(24vw / 7.68), calc(24rem / 16));
      width: clamp(calc(264rem / 16), calc(1048vw / 17), calc(1048rem / 16));
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      line-height: clamp(calc(24rem / 16), calc(28vw / 7.68), calc(28rem / 16));
      letter-spacing: 0.005em;
      text-align: left;
    }
    .text {
      margin-top: 1.25rem;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.531rem;
      letter-spacing: 0.015em;
      text-align: left;
      width: clamp(calc(123rem / 16), calc(560vw / 7.68), calc(560rem / 16));
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      position: absolute;
      right: 16px;
    }
    .icon {
      transition: transform 0.3s ease;
      position: relative;
      &-circle {
        width: 24px;
        height: 24px;
        background:
          linear-gradient(black, black) padding-box,
          linear-gradient(#2dd282, #90f4e8) border-box;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
      }
      &-minus::after {
        content: '';
        position: absolute;
        width: 6px;
        height: 1px;
        background: linear-gradient(#2dd282, #90f4e8) border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-plus::before {
        content: '';
        position: absolute;
        background: linear-gradient(#2dd282, #90f4e8) border-box;
        top: 50%;
        left: 50%;
        width: 6px;
        height: 1px;
        transform: translate(-50%, -50%);
      }
      &-plus::after {
        content: '';
        background: linear-gradient(#2dd282, #90f4e8) border-box;
        position: absolute;
        width: 1px;
        height: 6px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}

.pagination-container {
  margin-top: 2rem;
  text-align: center;
  display: inline-flex;
  flex-direction: column;
  .pagination-button {
    margin-top: 0.75rem;
    color: #f0f7f7;
    background-color: transparent;
    border: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.531rem;
    letter-spacing: 0.015em;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
  .pagination-counter {
    background-color: #042b2b;
    width: 3rem;
    padding: 0.125rem 0.063rem;
    border-radius: 1000px;
    margin-bottom: 0.625rem;
    position: relative;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.313rem;
    letter-spacing: 0.015em;
    text-align: center;

    span {
      position: absolute;
      bottom: -3px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: #042b2b;
      width: 6px;
      height: 6px;
    }
  }
  .progression-bar {
    background-color: #064040;
    height: 2px;
    width: 100%;
    margin: 0 auto;
    .progression-status {
      background: linear-gradient(#2dd282, #90f4e8);
      height: 100%;
      width: 8.125rem;
    }
  }
}
